@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #D296D5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
}

h1 {
  color: white;
}

.screen {
  cursor: pointer;
  width: 50%;
  background-color: #D7FFA1 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.controls {
    background:#D7FFA1;
    color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}
