@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #d296d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
}

h1 {
  color: black;
}

.screen {
  cursor: pointer;
  width: 70%;
  background-color: #d7ffa1 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.controls {
  background: #d7ffa1;
  width: 70%;
  color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.controls .fa-play {
  color: #38d36c;
}

.controls .fa-stop {
  color: #ee401e;
}

.controls .fa-pause {
  color: white;
}

.controls .timestamp {
    font-weight: bold;
    margin-left: 10px;
    color: black;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}
